h1, h2, p{
    text-align: center;
}
h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
    font-size: 40px;
    margin-top: 0%;
    margin-bottom: 15px;
}
h2 {
    font-size: 30px;
}
/*da clor da div da delta workawal kezhe*/
body {
   background-color: burlywood;
   background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
   padding: 20px;
   font-family: sans-serif;

}
/*da da div de */
.menu {
    width: 40%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .flavor {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  .line {
    background-color: brown;
    border-color: brown;
    height: 2px;
    margin-top: 25px;
  }
  .established {
    font-style: italic;
  }
.footer {
    font-size: 14px;
    
}
a {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: brown;
}
a:active {
    color: white;
}
.address {
    margin-bottom: 5px;
}
img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -25px;
}